# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Generated code file templates
*.gen

# Config and env files
.env
test.env
kubeconfig

# Dependency directories (remove the comment below to include it)
# vendor/
ceai-cqen-admin-api
.DS_Store

# IDE and Editor files
.vscode