// ServerInterfaceWrapper converts contexts to parameters.
type ServerInterfaceWrapper struct {
    Handler ServerInterface
}

{{range .}}{{$opid := .OperationId}}

// {{$opid}} operation middleware
func (s ServerHandlers) {{$opid}}(response *apifirst.Response, request *http.Request) error {
  {{if .PathParams}}
  params := mux.Vars(request)
  {{end}}
  
  {{range .PathParams}}// ------------- Path parameter "{{.ParamName}}" -------------
  {{$varName := .GoVariableName}}{{$varName}} := params["{{$varName}}"]

  {{end}}

}

{{end}}
