apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: [Copy key from clusterconfigs/auth/kubeconfig]
    server: https://api.[server_url]:6443
  name: [cluster name]
contexts:
- context:
    cluster: [cluster name]
    user: ceai-admin-api
  name: ceai-admin-api
current-context: ceai-admin-api
kind: Config
preferences: {}
users:
- name: ceai-admin-api
  user:
    token: [service-account-token secret of ceai-admin-api]